<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DataTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IosUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94231BE3266F93A900B7EDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94231BEB266F93A900B7EDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>947336EF26690583008F47D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9473370026691156008F47D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94733712266911DD008F47D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94C3589A2670EC570023D955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94C358AD2670FC0C0023D955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
