<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DataTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IosUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94231BE3266F93A900B7EDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94231BEB266F93A900B7EDB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>946CC7DB267153C100D42FDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>947336EF26690583008F47D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9473370026691156008F47D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94733712266911DD008F47D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9475A707267121C900EEF068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A748082673F0590066AC0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94C3589A2670EC570023D955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94C358AD2670FC0C0023D955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94EF1E0F2677C5DC004E81C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94EF1E172677C5DC004E81C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94EF1E322677CEA3004E81C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94EF1E472677CEA7004E81C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
